<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-dark bg-dark" style="width: 100%;">
      <a class="navbar-brand" href="/home">Welcome {{userInfo.first_name}} {{userInfo.last_name}} (Admin)</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manage_users">Manage Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: red;" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">NULL</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="container-fluid"></div>
