<div class="container-fluid text-center" style="padding:10px 0; margin:0 0 30px 0; width: 100%; background-color: #F5F5F5;">
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="/"><button class="btn btn-default btn-sm">Home</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/login"><button class="btn btn-default btn-sm">Login</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <a href="/signup"><button class="btn btn-default btn-sm">Sign Up</button></a> -->
    </div>
  </div>
</div>

<div class="container-fluid" style="padding: 0; margin: 0;">
  <div class="row" style="padding:0; margin:0; width: 100%; background-color: #F5F5F5;">
    <div class="col-sm-12 text-center" style="padding: 5px 0; background-color: #F5F5F5;">
      <a href="https://github.com/EpicWiz/allowanceTracker">
        <button class="btn btn-default btn-sm">Visit Repo</button>
      </a>
    </div>
  </div>
</div>
