<div class="container-fluid text-center" style="padding:10px 0; margin:0 0 30px 0; width: 100%; background-color: #F5F5F5;">
  <div class="row">
    <div class="col-sm-12 text-center">
      <a href="/"><button class="btn btn-default btn-sm">Home</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/login"><button class="btn btn-default btn-sm">Login</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/signup"><button class="btn btn-default btn-sm">Sign Up</button></a>
    </div>
  </div>
</div>

<h1>Login</h1>
<form action="/api/login" method="POST" class="form-inline text-left panel-body">
  <div class="form-group">
    <label for="email">Username:</label><br>
    <input type="email" class="form-control" name="email" id="email" placeholder="email" autocomplete="on">
  </div>
  <div class="form-group">
    <label for="password">Password:</label><br>
    <input type="password" class="form-control" name="password" id="password" autocomplete="on">
  </div>
  <br><br><button type="submit" class="btn btn-danger">Login</button>
</form>
